{% extends 'base.html' %}
{% block title %}Editar Usuário | TrustV{% endblock %}
{% block content %}
<div class="form-container">
    <h2>Editar Usuário</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }}<br>
            {{ form.name(class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.email.label }}<br>
            {{ form.email(class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.date.label }}<br>
            {{ form.date(class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.submit(class_='btn btn-primary') }}
        </div>
    </form>
    <a href="{{ url_for('users') }}">Voltar para lista de usuários</a>
</div>
{% endblock %} 